.article {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: .5fr 1fr .2fr;
  grid-template-areas:
  "img title title"
  "img description description"
  "img views actions";
  gap: 1rem;
  padding: 2rem;
  padding-right: 0;
  border-bottom: 1px solid $off-white;
  cursor: pointer;

  transition: background 250ms ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, .05);
    transition: background 250ms ease-in-out;
  }

  @include phone {
    grid-template-areas:
    "img img img"
    "img img img"
    "title title title"
    "description description description"
    "views . actions";
  }

  @include desktop {
    grid-template-columns: auto 1fr .5fr;
  }

  &--seen {
    opacity: .5;
  }


  .article-img {
    grid-area: img;
    width: 300px;
    height: 200px;
    border-radius: 5%;
    justify-self: center;

    @include phone {
      justify-self: start;
    }
  }

  .article-title {
    grid-area: title;
    font-size: 2rem;
  }

  .article-description {
    grid-area: description;
    font-size: 1.6rem;
    border-bottom: 1px solid $off-white;
    margin-right: 1.8rem;
  }

  .article-views {
    grid-area: views;
    font-size: 1.6rem;
    align-self: end;
    margin-left: 2rem;

    @include phone {
      margin-left: 0;
    }
  }

  .article-actions {
    grid-area: actions;
    align-self: end;
    justify-self: end;
    margin-right: 2rem;

    svg {
      width: 1.8rem;
    }
  }
}

