.article {
  display: grid;
  grid-template-areas: 
  "img title seen"
  "img description ."
  "img views price";
  grid-template-columns: auto 1fr .5fr;
  grid-template-rows: .5fr 1fr .5fr;
  margin: 2.4rem;
  gap: 1.6rem;
  cursor: pointer;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-top: 1px solid #DDDDDD;

  @include phone {
    grid-template-areas:
    "img img img"
    "img img img"
    "title title seen"
    "description description description"
    "views . price";
    grid-template-columns: auto 1fr .5fr;
    grid-template-rows: 1fr 1fr repeat(3, auto);

    padding-top: 2rem;
    margin: 1.2rem;
    gap: 0;
  }

  &-img {
    grid-area: img;
    width: 300px;
    height: 200px;
    border-radius: 5%;

    @include phone {
      justify-self: center;
      margin-bottom: 1rem;
    }
  }

  &-title {
    grid-area: title;
    font-size: 1.8rem;
  }

  &-actions {
    grid-area: seen;
    justify-self: end;
    cursor: pointer;

    .article-actions-viewed {
      stroke: $main-colour;
    }

    svg {
      width: 2.4rem;
    }
  }

  &-description {
    grid-area: description;
    font-size: 1.4rem;
    color: #858585;
    display: flex;
    align-items: center;
  }

  &-views {
    grid-area: views;
    font-size: 1.4rem;
    align-self: end;

    .article-view-total {
      font-weight: 600;
    }
  }

  &-price {
    grid-area: price;
    font-size: 1.8rem;
    align-self: end;
    justify-self: end;
    font-weight: 600;
  }
}
