.details {
  border: 1px solid $off-white;
  border-radius: 1.2rem;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  padding: 2.4rem;
  width: 75%;

  display: grid;
  grid-template-areas: 
  "price status"
  "collection collection"
  "request-this request-this";

  @include tablet {
    margin-bottom: 4rem;
    gap: 4rem;
  }

  @include phone {
    margin-bottom: 4rem;
    gap: 4rem;
  }

  &__price {
    grid-area: price;
    font-size: 2rem;
    font-weight: 600;
  }

  &__status {
    grid-area: status;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: $main-colour;
    text-align: center;
    justify-self: end;
  }

  &__collection {
    grid-area: collection;
    font-size: 1.8rem;
  }

  &__request-this {
    grid-area: request-this;
    background: $main-colour;
    color: $white;
    border: none;
    cursor: pointer;
    border-radius: .8rem;
    font-size: 2rem;

    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
