.marker {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 200ms ease-out, 
              stroke 200ms ease-out;

  &--isFoucsed,
  &:hover {
    transform: scale(1.2);
    stroke: $main-colour;
  }
}
